
.wp_play_game{
	width: 620px;
	height: 100%;
	border: 1px solid #ccc;
	margin: 70px auto;
	padding: 5px;
	border-radius: 10px;
	line-height: 22px;
}

.tab_object{
	margin-top: 10px;
}
.tab_object thead{
	border-top: 1px solid #ccc;
}
.tab_object th{
	padding: 15px;
}
.tab_object button{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
}
.tab_object button:hover{
	background-color: blue;
	color: white;
	cursor: pointer;
}

#wp_popup{
}
.wp_game_bg{
	background-color: #000;
	opacity: 0.8;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
}
.wp_game_frame{
	color: transparent;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	position: fixed;
	z-index: 101;
}
.wp_game_border{
	width: 620px;
	height: 100%;
	background-color: #fff;
	margin: 10px auto;
	border-radius: 10px;
	position: relative;
}
.close_border{
	border: 1px solid #ccc;
	/*border-radius: 50%;*/
	padding: 2px 10px;
	position: absolute;
	right: 10px;
	top: 10px;
	color: #000;
	cursor: pointer;
}
.close_border:hover{
	background-color: #ccc;
}

.wp_game_content{
	width: 100%;
	height: 80%;
	margin: 0px auto;
	top: 60px;
	position: absolute;
	border: 1px solid #ccc;
}
.wp_center_icon{
	width: 80px;
	height: auto;
	margin: 15px auto;
	color: #000;
	text-align: center;
}
.button_game_play{
	width: 150px;
	height: 60px;
	border-radius: 10px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.game_list_msg{
	margin-top: 10px;
	color: #000;
}
.sys_icon{
	margin-left: 10px;
	text-align: center;
	width: 60px;
	height: auto;
	border: 1px solid #ccc;
	padding: 15px 0px;
	border-radius: 20px;
	font-weight: bold;
}
.sys_msg{
	width: 80%;
	height: auto;
	margin-left: 10px;
	align-content: center;
	line-height: 33px;
}

.sys_msg div{
	width: auto;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #f2efef;
}
.me_icon{
	margin-right: 10px;
	text-align: center;
	width: 60px;
	height: auto;
	border: 1px solid #ccc;
	padding: 15px 0px;
	border-radius: 20px;
	font-weight: bold;
}
.me_msg{
	width: 80%;
	height: auto;
	margin-right: 10px;
	align-content: center;
	line-height: 33px;
	text-align: right;
}
.me_msg span{
	width: auto;
	margin-bottom: 5px;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #f2efef;
	background-color: #4883f9;
	color: #fff;
}
.tag_footer{
	position: absolute;
	right: 10px;
	bottom: 20px;
	color: #000;
}
.load_icon{
	animation: App-load-spin infinite 10s linear;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
#end_played{
	width: 100%;
	text-align: center;
}
#end_played p{
	color: #5cb85c;
	font-size: 30px;
	margin: 30px 0px;
}
#end_played button{
	padding: 5px 10px;
	margin-top: 0px;
	margin-right: 10px;
}
#end_played .study{
	background: #5cb85c;
	border: 1px solid #5cb85c;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#end_played .home{
	background: white;
	border: 1px solid #000;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
@keyframes App-load-spin{
	0%{
	    transform: rotate(0deg);	
	}
	100%{
	    transform: rotate(360deg);	
	}
}